.footer {
  padding: 0 0 32px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.footer__logo {
  width: 110px;
}

.footer__copyright {
  display: flex;
  grid-row-start: 2;
  grid-column: 1 / span 2;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.footer__social-list {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: flex-end;
}

.footer-social-list__item:first-child {
  margin-right: 12px;
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--white);
  background-color: var(--pink);
  border-radius: 50px;
}

/* MEDIA QUERIES */

@media all and (min-width: 690px) {

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
