/* HERO SECTION */

.hero {
  position: relative;
  z-index: -1;
  height: 650px;
  margin-bottom: 90px;
  padding: 110px 0 60px;
  background-image: url("../img/hero-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: scroll;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(10, 0, 0, 0.5);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 650px;
}

.hero__title,
.hero__subtitle {
  color: var(--white);
}

.hero__title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 34px;
}

.hero__subtitle {
  margin-bottom: 40px;
  padding: 0 5px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .5em;
}

/* DESCR SECTION */

.descr {
  position: relative;
  margin-bottom: 90px;
}

.descr .ornament {
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100px);
}

.descr__title {
  margin-bottom: 48px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark);
  opacity: .8;
}

.descr__text {
  margin-bottom: 48px;
  padding: 0 10px;
  text-align: center;
}

.descr__subtext {
  padding: 0 10px;
  font-weight: 700;
  text-align: center;
}

.descr__subtext:not(:last-of-type) {
  margin-bottom: 24px;
}

.descr__subtext:last-of-type {
  margin-bottom: 56px;
}

.descr__btn {
  margin: 0 auto;
}

/* SERVICE SECTION */

.service {
  position: relative;
  margin-bottom: 90px;
  padding: 50px 0;
  background-color: var(--light-grey);
}

.service .ornament {
  top: 70px;
  left: 50%;
  transform: translate(-50%, -100px);
}

.service__list {
  padding: 0 10px;
}

.service-list__item:not(:last-child) {
  margin-bottom: 58px;
}

.service-list__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  margin: 0 auto 15px;
  font-size: 30px;
  border: 2px solid var(--dark-white);
  border-radius: 50px;
}

.service-list__item .service-list__icon {
  font-family: "Font Awesome 5 Free";
  font-size: 32px;
  color: var(--dark);
}

.service-list__item:nth-child(odd) .service-list__icon::before {
  content: "\f004";
}

.service-list__item:nth-child(even) .service-list__icon::before {
  content: "\f005";
}


.service-list__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.service-list__text {
  text-align: center;
}


/* SERVICE SECTION */

.service__list {
  display: flex;
  flex-direction: column;
}

.service-list__title {
  margin-bottom: 20px;
}

.service-list__item {
  padding: 40px 10px;
  background-color: var(--white);
  border-radius: 8px;
}

.portfolio {
  position: relative;
  margin-bottom: 90px;
}

.portfolio .ornament {
  top: -17px;
  left: 50%;
  transform: translate(-50%, -100px);
}

.portfolio__subtitle {
  margin-bottom: 56px;
  padding: 0 10px;
  text-align: center;
}

/* SLIDER */

.slider-wrapper {
  width: 95%;
  margin: 0 auto;
}

#main-carousel {
  margin-bottom: 12px;
}

#main-carousel .splide__slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#thumbnail-carousel .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-carousel .splide__slide img,
#thumbnail-carousel .splide__slide img {
  border-radius: 5px;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

/* PRICE SECTION */

.price {
  margin-bottom: 90px;
}

.price-table:not(:last-of-type) {
  margin-bottom: 56px;
}

.price-table:last-of-type {
  margin-bottom: 68px;
}

.price-table__title {
  margin-bottom: 24px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.table {
  width: 100%;
  margin-bottom: 32px;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.table__header th {
  padding: 15px 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--dark);
  background-color: var(--light-blue);
}

.table__header th:nth-child(1) {
  text-align: center;
}

.table__cell {
  padding: 15px 10px;
  border-top: 1px solid #ddd;
}

.table__cell:last-of-type {
  width: 18%;
  text-align: center;
}

.table__row:nth-child(even) {
  background-color: var(--light-grey);
}

.price-table__subtext {
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
  color: var(--dark);
}

.portfolio__btn {
  margin: 0 auto;
}


/* CONTACT SECTION */

.contact {
  position: relative;
  margin-bottom: 56px;
  padding: 48px 0 76px;
  background-color: var(--light-grey);
}

.contact .ornament {
  top: 70px;
  left: 50%;
  transform: translate(-50%, -100px);
}

.contact__list {
  margin-bottom: 48px;
  padding: 0 10px;
  text-align: center;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.contact-list__item .fa-phone,
.contact-list__item .fa-map-marker-alt {
  margin-right: 4px;
  font-size: 20px;
  color: var(--pink);
}

.contact-list__item .fa-phone {
  transform: rotate(90deg);
}

.contact-list__link {
  margin-left: 6px;
  word-break: break-all;
}

.contact__subtext {
  margin-bottom: 36px;
  text-align: center;
}

.contact__social-list {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.contact-social-list__link .fa-viber {
  font-size: 38px;
  color: var(--viber);
}

.contact-social-list__link .fa-whatsapp {
  font-size: 38px;
  color: var(--whatsapp);
}

.contact-social-list__link .fa-facebook-messenger {
  font-size: 38px;
  color: var(--facebook);
}


/* MEDIA QUERIES */

@media all and (min-width: 690px) {

  /* HERO SECTION */

  .hero__title {
    padding: 0px 20px;
  }

  /* SERVICE SECTION */

  .service-list__text {
    width: 80%;
    margin: 0 auto;
  }

  /* SLIDER */

  .slider-wrapper {
    width: 90%;
  }

  #main-carousel .splide__slide img {
    height: 400px;
  }

  /* PRICE SECTION */

  .table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* CONTACT SECTION */

  .contact {
    margin-bottom: 76px;
  }

  .contact__social-list {
    width: 50%;
  }
}

@media all and (min-width: 998px) {

  /* HERO SECTION */

  .hero {
    height: 100vh;
    margin-bottom: 120px;
    padding: 110px 0 60px;
  }

  .hero-wrapper {
    display: flex;
    height: 100vh;
  }

  .hero__subtitle {
    margin-bottom: 80px;
    font-size: 16px;
  }

  /* DESCR SECTION */

  .descr .ornament {
    top: -45px;
  }

  /* SERVICE SECTION */

  .service {
    margin-bottom: 120px;
    padding: 120px 0;
  }

  .portfolio .ornament {
    top: -45px;
  }

  .service__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .service-list__title {
    padding: 0px 40px;
  }

  .service-list__item {
    width: 96%;
    height: auto;
  }

  .service-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .item-fullsize {
    width: 97%;
    margin: 0 auto;
    grid-column: 1 / span 2;
  }

  .service-list__text {
    width: 90%;
    margin: 0 auto;
  }

  /* SLIDER */

  .portfolio {
    margin-bottom: 120px;
  }

  .slider-wrapper {
    width: 80%;
  }

  #main-carousel .splide__slide img {
    height: 460px;
  }

  /* PRICE SECTION */

  .price {
    margin-bottom: 160px;
  }

  .price-table:not(:last-of-type) {
    margin-bottom: 76px;
  }

  .price-table:last-of-type {
    margin-bottom: 98px;
  }

  .table {
    width: 80%;
  }

  /* CONTACT SECTION */

  .contact {
    padding: 68px 0 98px;
  }

  .contact__social-list {
    width: 30%;
  }
}

@media all and (min-width: 1400px) {

  .hero__title {
    font-size: 48px;
  }

  .hero__subtitle {
    margin-bottom: 120px;
  }
}
